{
    "extends": [
      "standard",
      "standard-jsx",
      "standard-react"
    ],
    "env": {
      "jest": true
    },
    "plugins": [
      "@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "experimentalDecorators": true
    },
    "rules": {
      "arrow-body-style": [
        "error",
        "as-needed"
      ],
      "max-len": [
        "error",
        {
          "code": 120,
          "ignoreUrls": true
        }
      ],
      "object-curly-spacing": [
        "error",
        "always"
      ],
      "prefer-const": "error",
      "prefer-template": "error",
      "react/jsx-closing-bracket-location": [
        "error",
        "line-aligned"
      ],
      "react/jsx-first-prop-new-line": [
        "error",
        "multiline-multiprop"
      ],
      "react/jsx-max-props-per-line": [
        "error",
        {
          "maximum": 1,
          "when": "multiline"
        }
      ],
      "react/jsx-sort-props": [
        "off",
        {
          "callbacksLast": false,
          "ignoreCase": true,
          "noSortAlphabetically": false,
          "reservedFirst": true,
          "shorthandFirst": false,
          "shorthandLast": false
        }
      ],
      "react/jsx-wrap-multilines": [
        "error",
        {
          "declaration": "parens-new-line",
          "assignment": "parens-new-line",
          "return": "parens-new-line",
          "arrow": "parens-new-line",
          "condition": "ignore",
          "logical": "ignore",
          "prop": "ignore"
        }
      ],
      "semi": [
        "error",
        "never"
      ],
      "standard/no-callback-literal": "off"
    },
    "overrides": [
      {
        "files": [
          "**/*.ts",
          "**/*.tsx"
        ],
        "rules": {
          "no-unused-vars": "off",
          "no-dupe-class-members": "off",
          "@typescript-eslint/no-unused-vars": [
            "error",
            {
              "vars": "all",
              "args": "after-used",
              "ignoreRestSiblings": false
            }
          ]
        }
      }
    ]
  }
  